// Slate
$pr-slate-50: #f8fafc;
$pr-slate-100: #f1f5f9;
$pr-slate-200: #e2e8f0;
$pr-slate-300: #cbd5e1;
$pr-slate-400: #94a3b8;
$pr-slate-500: #64748b;
$pr-slate-600: #475569;
$pr-slate-700: #334155;
$pr-slate-800: #1e293b;
$pr-slate-900: #0f172a;

// Gray
$pr-gray-50: #f9fafb;
$pr-gray-100: #f3f4f6;
$pr-gray-200: #e5e7eb;
$pr-gray-300: #d1d5db;
$pr-gray-400: #9ca3af;
$pr-gray-500: #6b7280;
$pr-gray-600: #4b5563;
$pr-gray-700: #374151;
$pr-gray-800: #1f2937;
$pr-gray-900: #111827;

// Zinc
$pr-zinc-50: #fafafa;
$pr-zinc-100: #f4f4f5;
$pr-zinc-200: #e4e4e7;
$pr-zinc-300: #d4d4d8;
$pr-zinc-400: #a1a1aa;
$pr-zinc-500: #71717a;
$pr-zinc-600: #52525b;
$pr-zinc-700: #3f3f46;
$pr-zinc-800: #27272a;
$pr-zinc-900: #18181b;

// Neutral
$pr-neutral-50: #fafafa;
$pr-neutral-100: #f5f5f5;
$pr-neutral-200: #e5e5e5;
$pr-neutral-300: #d4d4d4;
$pr-neutral-400: #a3a3a3;
$pr-neutral-500: #737373;
$pr-neutral-600: #525252;
$pr-neutral-700: #404040;
$pr-neutral-800: #262626;
$pr-neutral-900: #171717;

// Stone
$pr-stone-50: #fafaf9;
$pr-stone-100: #f5f5f4;
$pr-stone-200: #e7e5e4;
$pr-stone-300: #d6d3d1;
$pr-stone-400: #a8a29e;
$pr-stone-500: #78716c;
$pr-stone-600: #57534e;
$pr-stone-700: #44403c;
$pr-stone-800: #292524;
$pr-stone-900: #1c1917;

// Red
$pr-red-50: #fef2f2;
$pr-red-100: #fee2e2;
$pr-red-200: #fecaca;
$pr-red-300: #fca5a5;
$pr-red-400: #f87171;
$pr-red-500: #ef4444;
$pr-red-600: #dc2626;
$pr-red-700: #b91c1c;
$pr-red-800: #991b1b;
$pr-red-900: #7f1d1d;

// Orange
$pr-orange-50: #fff7ed;
$pr-orange-100: #ffedd5;
$pr-orange-200: #fed7aa;
$pr-orange-300: #fdba74;
$pr-orange-400: #fb923c;
$pr-orange-500: #f97316;
$pr-orange-600: #ea580c;
$pr-orange-700: #c2410c;
$pr-orange-800: #9a3412;
$pr-orange-900: #7c2d12;

// Amber
$pr-amber-50: #fffbeb;
$pr-amber-100: #fef3c7;
$pr-amber-200: #fde68a;
$pr-amber-300: #fcd34d;
$pr-amber-400: #fbbf24;
$pr-amber-500: #f59e0b;
$pr-amber-600: #d97706;
$pr-amber-700: #b45309;
$pr-amber-800: #92400e;
$pr-amber-900: #78350f;

// Yellow
$pr-yellow-50: #fefce8;
$pr-yellow-100: #fef9c3;
$pr-yellow-200: #fef08a;
$pr-yellow-300: #fde047;
$pr-yellow-400: #facc15;
$pr-yellow-500: #eab308;
$pr-yellow-600: #ca8a04;
$pr-yellow-700: #a16207;
$pr-yellow-800: #854d0e;
$pr-yellow-900: #713f12;

// Lime
$pr-lime-50: #f7fee7;
$pr-lime-100: #ecfccb;
$pr-lime-200: #d9f99d;
$pr-lime-300: #bef264;
$pr-lime-400: #a3e635;
$pr-lime-500: #84cc16;
$pr-lime-600: #65a30d;
$pr-lime-700: #4d7c0f;
$pr-lime-800: #3f6212;
$pr-lime-900: #365314;

// Green
$pr-green-50: #f0fdf4;
$pr-green-100: #dcfce7;
$pr-green-200: #bbf7d0;
$pr-green-300: #86efac;
$pr-green-400: #4ade80;
$pr-green-500: #22c55e;
$pr-green-600: #16a34a;
$pr-green-700: #15803d;
$pr-green-800: #166534;
$pr-green-900: #14532d;

// Emerald
$pr-emerald-50: #ecfdf5;
$pr-emerald-100: #d1fae5;
$pr-emerald-200: #a7f3d0;
$pr-emerald-300: #6ee7b7;
$pr-emerald-400: #34d399;
$pr-emerald-500: #10b981;
$pr-emerald-600: #059669;
$pr-emerald-700: #047857;
$pr-emerald-800: #065f46;
$pr-emerald-900: #064e3b;

// Teal
$pr-teal-50: #f0fdfa;
$pr-teal-100: #ccfbf1;
$pr-teal-200: #99f6e4;
$pr-teal-300: #5eead4;
$pr-teal-400: #2dd4bf;
$pr-teal-500: #14b8a6;
$pr-teal-600: #0d9488;
$pr-teal-700: #0f766e;
$pr-teal-800: #115e59;
$pr-teal-900: #134e4a;

// Cyan
$pr-cyan-50: #ecfeff;
$pr-cyan-100: #cffafe;
$pr-cyan-200: #a5f3fc;
$pr-cyan-300: #67e8f9;
$pr-cyan-400: #22d3ee;
$pr-cyan-500: #06b6d4;
$pr-cyan-600: #0891b2;
$pr-cyan-700: #0e7490;
$pr-cyan-800: #155e75;
$pr-cyan-900: #164e63;

// Sky
$pr-sky-50: #f0f9ff;
$pr-sky-100: #e0f2fe;
$pr-sky-200: #bae6fd;
$pr-sky-300: #7dd3fc;
$pr-sky-400: #38bdf8;
$pr-sky-500: #0ea5e9;
$pr-sky-600: #0284c7;
$pr-sky-700: #0369a1;
$pr-sky-800: #075985;
$pr-sky-900: #0c4a6e;

// Blue
$pr-blue-50: #eff6ff;
$pr-blue-100: #dbeafe;
$pr-blue-200: #bfdbfe;
$pr-blue-300: #93c5fd;
$pr-blue-400: #60a5fa;
$pr-blue-500: #3b82f6;
$pr-blue-600: #2563eb;
$pr-blue-700: #1d4ed8;
$pr-blue-800: #1e40af;
$pr-blue-900: #1e3a8a;

// Indigo
$pr-indigo-50: #eef2ff;
$pr-indigo-100: #e0e7ff;
$pr-indigo-200: #c7d2fe;
$pr-indigo-300: #a5b4fc;
$pr-indigo-400: #818cf8;
$pr-indigo-500: #6366f1;
$pr-indigo-600: #4f46e5;
$pr-indigo-700: #4338ca;
$pr-indigo-800: #3730a3;
$pr-indigo-900: #312e81;

// Violet
$pr-violet-50: #f5f3ff;
$pr-violet-100: #ede9fe;
$pr-violet-200: #ddd6fe;
$pr-violet-300: #c4b5fd;
$pr-violet-400: #a78bfa;
$pr-violet-500: #8b5cf6;
$pr-violet-600: #7c3aed;
$pr-violet-700: #6d28d9;
$pr-violet-800: #5b21b6;
$pr-violet-900: #4c1d95;

// Purple
$pr-purple-50: #faf5ff;
$pr-purple-100: #f3e8ff;
$pr-purple-200: #e9d5ff;
$pr-purple-300: #d8b4fe;
$pr-purple-400: #c084fc;
$pr-purple-500: #a855f7;
$pr-purple-600: #9333ea;
$pr-purple-700: #7e22ce;
$pr-purple-800: #6b21a8;
$pr-purple-900: #581c87;

// Fuchsia
$pr-fuchsia-50: #fdf4ff;
$pr-fuchsia-100: #fae8ff;
$pr-fuchsia-200: #f5d0fe;
$pr-fuchsia-300: #f0abfc;
$pr-fuchsia-400: #e879f9;
$pr-fuchsia-500: #d946ef;
$pr-fuchsia-600: #c026d3;
$pr-fuchsia-700: #a21caf;
$pr-fuchsia-800: #86198f;
$pr-fuchsia-900: #701a75;

// Pink
$pr-pink-50: #fdf2f8;
$pr-pink-100: #fce7f3;
$pr-pink-200: #fbcfe8;
$pr-pink-300: #f9a8d4;
$pr-pink-400: #f472b6;
$pr-pink-500: #ec4899;
$pr-pink-600: #db2777;
$pr-pink-700: #be185d;
$pr-pink-800: #9d174d;
$pr-pink-900: #831843;

// Rose
$pr-rose-50: #fff1f2;
$pr-rose-100: #ffe4e6;
$pr-rose-200: #fecdd3;
$pr-rose-300: #fda4af;
$pr-rose-400: #fb7185;
$pr-rose-500: #f43f5e;
$pr-rose-600: #e11d48;
$pr-rose-700: #be123c;
$pr-rose-800: #9f1239;
$pr-rose-900: #881337;

// Black and White
$black: #000;
$white: #fff;
